<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <header>
    <nav>
      <button id="btnConnect" type="button">USB Connect</button>
      
      <div id="navSerial" style="display:flex; gap:8px; align-items:center;"></div>
        <button type="button" class="hit1"">S: Act</button>
        <button type="button" class="hit2"">S: F</button>
        <button type="button" class="hit3"">S: B</button>
        <button type="button" class="hit4"">B: F(h)</button>
        <button type="button" class="hit5"">B: B(h)</button>
      </div>
      <div id="counterBadge">
        0
      </div>
    </nav>

  </header>
  <body>
    <div class="coverDiv">
      <h1>loading...</h1>
    </div>
    {{ content }}
  </body>
</html>
<script src="/script.js"></script>
